<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/less.css">
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/Login.css">
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/ie8.css">
<![endif]-->
<!--[if gte IE 9]> 
<link rel="stylesheet" type="text/css" href="css/ie.css"> 
<![endif]-->
<script src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
<script>
$(document).ready(function(){
  $("#btn1").click(function(){
  	if($("#name").val()!=""&&$("#password").val()!=""){
  		$.post("{:U('login/login')}", { name: $("#name").val(), password: $("#password").val() },
    	function(data){
     	 if(data==1){
		 	$.get("{:U('Select/Car_brand')}", 
			function(data){
				alert(data);
				$("#Mask").fadeIn(1000);
//				$.post("http://localhost/TBoxService/tbox_user/index.php/Admin/login/login", { Type: $(".CHact").val(), TobId: $("#TOB-ID").val() },
//				function(data){
//					window.location.href="{:U('Index/index')}";	
//				})
			})
 	
		 }
		 else{
		 	alert(data);
		 }
    	});
  	}else{
		alert("请输入账号密码！！！");
	}
  });   
});
</script>
</head>
<body>
<div class="wrapper" style="background-color: white; position:fixed;">
    <div class="login-topBg">
      <div class="login-topBg1">       
        <div class="login-topStyle" > 
          <div class="login-topStyle3" id="loginStyle" style="margin-top: 75px;">
            <h3>用户平台登录</h3>
            <div class="error-information" style="display:none;">您输入的密码不正确，请重新输入</div>
            <div class="ui-form-item loginUsername">
              <input id="name" type="username" placeholder="用户名/手机号/密码">
            </div>
            <div class="ui-form-item loginPassword">
              <input id="password" type="password" placeholder="请输入密码">
            </div>
            <div class="login_reme">
              <input type="checkbox">
              <a class="reme1">记住账号</a> <a class="reme2">忘记密码?</a> 
			</div>
            <span class="error_xinxi" style="display:none;">您输入的密码不正确，请重新输入</span> <a class="btnStyle btn-register" id="btn1"> 立即登录</a>				
        </div>
      </div>
    </div>
  </div>
</div>
<div id="Mask">
	<div class="black"></div>
	<div id="choice">
		<h3>请选择以下信息</h3>
		<div class="CH">
			<span>车型:</span>
			<div style="float:left; width:380px;"><a href="#" class="CH1 CH-active">长安吉利</a></div>
			<div class="clear"></div>
		</div>
		<div class="TOB-ID">
			<span>TBOX-ID:</span><input type="text" id="TOB-ID" />
		</div>
		<a href="#" id="BtnTB">提交</a>
	</div>
</div>

</body>
</html>