<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>index</title>
<link href="__ROOT__/Public/css/bootstrap.css" rel="stylesheet" />
<link href="__ROOT__/Public/css/font-awesome.css" rel="stylesheet" />
<link href="__ROOT__/Public/css/morris-0.4.3.min.css" rel="stylesheet" />
<link href="__ROOT__/Public/css/custom-styles.css" rel="stylesheet" />

<script src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js"></script>
<script src="__ROOT__/Public/js/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/raphael-2.1.0.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/jquery.json-2.2.js"></script>
<script type="text/javascript">
$(document).ready(function(){

//AJAX左侧菜单栏内容获取
    $.get("{:U('Menu/getmenu')}",
        function(data){
            var list = "";
            for( var i=0;i<data.length;i++){
                var ia = i+1;
                list = list + "<li class='"+ data[i].url +"'><a href='#' onclick = loading("+ia+",'"+ data[i].url +"')>"+ data[i].name +"</a></li>"
            }
            $("#main-menu").html(list);
            $(".Air_conditioner").addClass("active-menu");
            //中间内容正文部分获取数据（ajax）
            $.post("{:U('module/index')}",  { name:data[0].url } ,
                function(data){
                    $("#page-wrapper").html(data);
                    //websocket初始化连接
                    websocket = startwebsocket();
                }
            )
        }
    )


    
//模拟测试与T-BOX连接
    $(".navbar").click(function(){  
        if(websocket.readyState == 0){
            websocket.close();
            alert("链接已断开"+websocket.readyState);
        }
        var arr = {'type':1,'module':1};
        websocket.send( JSON.stringify(arr) );  
    }); 
})

//websocket初始化连接（方法）
function startwebsocket(){
    var wsServer = 'ws://192.168.1.42:8283'; //服务器地址
    var websocket = new WebSocket(wsServer); //创建WebSocket对象
    websocket.onopen = function (evt) {
        //初始化主页（空调页）当前内容数据
        var arr = {'type':1,'Control_Objective':1,'token':$.cookie('token')};
        alert(arr.token);
        websocket.send( JSON.stringify(arr) );
    };

    websocket.onclose = function (evt) {
    //已经关闭连接
    };
    websocket.onmessage = function (evt) {
        alert(evt.data);
        /*var eda = $.parseJSON( evt.data );
        if( eda.error != null ){
            $("#alerrt p").html(eda.error);
            $("#alerrt").show().delay(1000).hide(300);

        }else{
            $.each(eda, function(i,val){ 
                $("."+i).html(val);
            });
            
        }*/
    };
    websocket.onerror = function (evt) {
    //产生异常
    };
    return websocket;

};


//左侧菜单栏点击加蓝色背景颜色
function loading(md,arr){
    $("#main-menu").children().removeClass("active-menu");
    $("." + arr).addClass("active-menu");
    $.post("{:U('module/index')}",  { name:arr } ,
        function(data){
            $("#page-wrapper").html(data);
            var arr = {'type':1,'module':md};
            websocket.send( JSON.stringify(arr) );
        }
    )
    
}
//点击更新按钮提交当前数据
function newbtn(md,oa,clas){
    var str = $(".ip" + clas).val();
    if( oa == 0){
        var arr = {'type':2,'Control_Objective':md};
        /*arr[clas]=str;*/
    }else{
        var str1 = {'CTLSwitch_Status':0,'CTLMode':0,'CTLDirection':0,'GoalValue1':str};
        var str2 = {'Control_Objective':md,'CTLObjPosition':oa,'RCTL_VHL_PARAMS':str1};
        var arr = { 'type':2,'RemoteControl_Extended_Object':str2};
    }
    websocket.send( JSON.stringify(arr) );
    $(":text").val('');
    
}

</script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span></span>
                <a class="navbar-brand" href="#">SYSOM</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Doe</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul> -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">28% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                            <span class="sr-only">28% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">85% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul> -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul> -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul> -->
                </li>
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    
                </ul>

            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
		  
        </div> 	   
    </div>
    <div id="alerrt" style="display:none;">
        <h2>消息</h2>
        <p></p>
    </div>
</body>

</html>