<div class="panel" style="padding:50px 0;">
	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">远程控制空调模式：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">3</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="请输入修改后的内容...">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">更新</button>
		  </span>
		</div>
	  </div>
	</div>	

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">目标温度：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">32</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="请输入修改后的内容...">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">更新</button>
		  </span>
		</div>
	  </div>
	</div>

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">空调运行时间：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">5</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="请输入修改后的内容...">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">更新</button>
		  </span>
		</div>
	  </div>
	</div>

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">温度档位（手动空调）：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">15</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="请输入修改后的内容...">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">更新</button>
		  </span>
		</div>
	  </div>
	</div>

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">风量档位（手动空调）：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">7</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="请输入修改后的内容...">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">更新</button>
		  </span>
		</div>
	  </div>
	</div>

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">模式状态（手动空调）：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">4</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="请输入修改后的内容...">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button">更新</button>
		  </span>
		</div>
	  </div>
	</div>

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">进气模式（手动空调）：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">打开</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
			<select class="onOff">
			  <option value="on">打开</option>
			  <option value="off">关闭</option>
			</select>
			<span class="input-group-btn">
			  <button class="btn btn-default" type="button">更新</button>
			</span>
		</div>
	  </div>
	</div>

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">压缩机请求（手动空调）：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">打开</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
			<select class="onOff">
			  <option value="on">打开</option>
			  <option value="off">关闭</option>
			</select>
			<span class="input-group-btn">
			  <button class="btn btn-default" type="button">更新</button>
			</span>
		</div>
	</div>
</div>