<div class="panel" style="padding:50px 0;">

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">引擎状态：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">打开</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
			<select class="onOff">
			  <option value="on">打开</option>
			  <option value="off">关闭</option>
			</select>
			<span class="input-group-btn">
			  <button class="btn btn-default" type="button">修改</button>
			</span>
		</div>
	  </div>
	</div>

	<div class="row margin-tb">
	  <div class="col-md-6">
	  	<div class="col-md-6">
	  		<p class="title">对象模式：</p>
	  	</div>
		<div class="col-md-6">
	  		<p class="now">预热</p>
	  	</div>
	  </div>
	  <div class="col-md-4">
		<div class="input-group">
			<select class="onOff">
			  <option value="on">预热</option>
			  <option value="off">电动</option>
			  <option value="off">油动</option>
			  <option value="off">正常</option>
			</select>
			<span class="input-group-btn">
			  <button class="btn btn-default" type="button">修改</button>
			</span>
		</div>
	  </div>
	</div>	
</div>