<div class="content-box">
      <div class="content-box-header">
        <h3>管理设备</h3>
        <ul class="content-box-tabs">
        <foreach name="arr" item="vo1" >
       <if condition="$key eq 0 ">
             <li>
             <a href="#" onclick="tab('{$vo1.device_id}')" class="default-tab" tab="{$vo1.device_id}">{$vo1.title}</a>
             </li>
       <else />
        <li><a href="#" onclick="tab('{$vo1.device_id}')" class="tab" tab="{$vo1.device_id}">{$vo1.title}</a>
        </li>
        </if>
      
    </foreach>
        </ul>
        <div class="clear"></div>
      </div>

      

 <empty name="arr">
<div class="content-box-content">

        <ul class="content-box-tabs">
          <li><a href="#tab_no_device" class="default-tab">没有设备</a></li>
        </ul>
<else /> 
<div class="content-box-content">
<foreach name="arr" item="vo" > 
 <if condition="$key eq 0 ">
<div class="tab-content default-tab" id="tab{$vo.device_id}">
  <else />
<div class="tab-content " id="tab{$vo.device_id}">
  </if>

          <h4>{$vo.title}</h4>
          <p><small>{$vo.about}</small></p>
          <table>
            <thead>
            	<th>设备类型</th>
              <th>状态</th>
              <th>最新数据</th>
              <th></th>
            </thead>
            <tbody>
            	<tr>
              	<td>
                自备设备                </td>
                <td><span class="deviceStatus unknown-label" device_id="{$vo.device_id}">状态未知</span></td>
                <td><span class="lastUpdateStatus unknown-label" device_id="{$vo.device_id}">未知</span> <span class="deviceLastUpdate" device_id="{$vo.device_id}"></span></td>
                <td><a href="{:U('Device/edit')}?id={$vo.device_id}"><img src="__ROOT__/Public/img/icons/24.png" title="编辑"/></a><a href="{:U('Device/delete')}?id={$vo.device_id}"><img src="__ROOT__/Public/img/icons/12.png" class="delete_device" title="删除"/></a>
                </td>           
              </tr>
            </tbody>
          </table>
          <p></p>
          <p></p>
          <p></p>
          <h4>设备图片</h4>
          <p><small>设备图片将在前台devices界面展示.</small></p>
 <form id="upimgform{$vo.device_id}" method="post" enctype="multipart/form-data" action="/user/upload_dev_img"> 
     <div class="dev_img_choosefile"><input name="uimg" id="uimg" class="uimg" type="file" device_id="{$vo.device_id}" /></div>
     <div class="dev_img_list" device_id="{$vo.device_id}">
     	<div class="dev_img_list_inner">
      		<div class="dev_img_box dev_img_uploading" device_id="{$vo.device_id}" style="display:none;">
          	<div class="text">图片上传中...</div>
					</div>
          <empty name="vo.img">
          <else />          <div class="dev_img_box" dev_img_id="{$vo.device_id}"><a href="{$vo.img}" target="_blank"><img src="{$vo.img}" border="0" height="100%" width="100%"></a><div style="display: none;" class="dev_img_mask" dev_img_id="{$vo.device_id}"><div class="dev_img_desc" dev_img_id="{$vo.device_id}"><strong>图片描述: </strong><span>无</span></div><div class="dev_img_action"><a href="javascript:void(0);"><div class="dev_img_edit" dev_img_id="{$vo.device_id}">编辑描述</div></a><a href="javascript:void(0);"><div class="dev_img_del" dev_img_id="{$vo.device_id}">删除图片</div></a></div></div></div> </empty>

       </div>
     </div>
     <div class="dev_img_tip"><small>鼠标移上图片，为它增加描述.</small></div>
 </form>
  <p></p>
  <p></p>
  <p></p>
          <h4>传感器</h4>
          <p><small>管理该设备的传感器并为它们增加触发动作, 以便在状态改变时通知您.</small></p>
          <div class="shortcut-button small-bottom-margin"><span><a href="{:U('sensor/new_sensor')}?device_id={$vo.device_id}">+ 增加一个传感器</a></span></div>
<empty name="vo.sensor">
<div class="notification png_bg attention"> <a href="#" class="close"><img src="/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
  <div>还没有任何传感器。</div>
</div>
<else />
<foreach name="vo.sensor" item="vo1" >
<div class="sensor-block" sensor_id = "{$vo1.sensor_id}">
            <div class="align-left sensor-info-block">
                          <img src="__ROOT__/Public/img/sensor.png" class="sensor" />
                          <br />
              <h5>{$vo1.title}</h5><br />
              <a href="{:U('sensor/edit')}?device_id={$vo1.device_id}&sensor_id={$vo1.sensor_id}"><img src="__ROOT__/Public/img/icons/24.png" />编辑</a>
              <a href="{:U('sensor/delete')}?device_id={$vo1.device_id}&sensor_id={$vo1.sensor_id}"><img class="delete_sensor" src="__ROOT__/Public/img/icons/12.png"/>删除</a>
              <p>
                <small>{$vo1.tags}</small>
              </p>
            </div>

          </div>
  </foreach>
</empty>

        </div>
</foreach>
</empty>  
  </div></div>
        </div>
<!-- end one sensor page -->