<include file="Public/_header"/>
<script type="text/javascript" src="__PUBLIC__/js/admin_common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-form.js"></script>
<script>
    var saveFormURL="__URL__";
  $(document).ready(function() {

    $("a[id^=del_]").on('click',function() {
      var id = $(this).attr('id');
      id = id.split('_')[1];
      if( confirm('确定删除') ) {
        $.get("__URL__/recycle_on_all",{ids:id},function(data) {
          if(data['status'] == 1) {
            $("#row_"+id).hide();
          } else {
            alert(data);
          }
        });
      }
    });
  });
</script>
<div class="home-index">
  <div class="bao_menu">
    <div class="first-child">
     广告管理
    </div>
    <switch name="type">    
    <case value="index">
           <div class="active">
      上线中
    </div>
       <div class="unactive last-child" onclick="javascript:window.location.href='{:U('Advert/wait')}'">
      待上线
    </div>
       <div class="unactive last-child" onclick="javascript:window.location.href='{:U('Advert/recycle_bin')}'">
      回收站
    </div>
       <div class="unactive last-child" onclick="javascript:window.location.href='{:U('Advert/add')}'">
      添加广告
    </div>
    </case>   
     <case value="wait">
       <div class="unactive"onclick="javascript:window.location.href='{:U('Advert/index')}'">
      上线中
    </div>
       <div class="active last-child" >
      待上线
    </div>
       <div class="unactive last-child" onclick="javascript:window.location.href='{:U('Advert/recycle_bin')}'">
      回收站
    </div>
       <div class="unactive last-child" onclick="javascript:window.location.href='{:U('Advert/add')}'">
      添加广告
    </div>
    </case> 
     <case value="delete">
       <div class="unactive"onclick="javascript:window.location.href='{:U('Advert/index')}'">
      上线中
    </div>
       <div class="unactive last-child" onclick="javascript:window.location.href='{:U('Advert/wait')}'">
      待上线
    </div>
       <div class="active last-child" >
      回收站
    </div>
       <div class="unactive last-child" onclick="javascript:window.location.href='{:U('Advert/add')}'">
      添加广告
    </div>
    </case>   
     <default />
    </switch>

  </div>
  <div class="container">

    <div class="row">
 <switch name="type">    
    <case value="index">
    <table class="table table-striped">
        <thead>
          <tr>
                  <th>
                      <input type="checkbox" name="check_all" id="check_all" onclick="selectall('ids[]');" />&nbsp;<label for="check_all">全选 | 序列号
                  </th>
            <th>广告名称</th>
            <th>位置</th>
            <th>发布时间</th>
            <th>上线时间</th>
            <th>排序</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <volist name="records" id="Advert">
          <tr id="row_{$Advert.id}">
                  <td>
                      <input type="checkbox" id="{$Advert.id}" name="ids[]" value="{$Advert.id}"/> &nbsp; 
                      <label style="font-weight: normal;" for="{$Advert.id}">{$Advert.id}</label>
                  </td> 
            <td>{$Advert.name}</td>
             <td><if condition="($Advert.type eq 1) "> 启动广告<else /> 资讯广告</if></td>
            <td>{$Advert.created_at|date="Y-m-d",###}</td>
            <td>{$Advert.online_at|date="Y-m-d",###}</td>
            <td>{$Advert.sort}</td>
            <td class="opts">
              <a href="{:U('Advert/update',array('id'=>$Advert['id']))}">修改</a> &nbsp;|&nbsp;
                <a onclick="change_line(this,{$Advert.id},0)"href="#">下线</a> &nbsp;|&nbsp;
              <!-- <a href="{:U('Brand/delete',array('id'=>$brand['id']))}"class="fa fa-trash"></a> | -->
              <a href="javascript:;" id="del_{$Advert.id}" >删除</a>
            </td>
          </tr>
          </volist>
        </tbody>
           <tbody>
                <tr>
                  <td>
                    <label for="check_all">全选/取消</label> &nbsp;|&nbsp;
                    <a href="javascript:;" onclick="online_off_all('ids[]')" >下线</a>
                    &nbsp;|&nbsp;
                    <a href="javascript:;" onclick="recycle_on_all('ids[]')" >删除</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
      </table>
    </case>
    <case value="wait">
        <table class="table table-striped">
        <thead>
          <tr>
                  <th>
                      <input type="checkbox" name="check_all" id="check_all" onclick="selectall('ids[]');" />&nbsp;<label for="check_all">全选 | 序列号
                  </th>
            <th>广告名称</th>
            <th>位置</th>
            <th>发布时间</th>
            <th>排序</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <volist name="records" id="Advert">
          <tr id="row_{$Advert.id}">
                  <td>
                      <input type="checkbox" id="{$Advert.id}" name="ids[]" value="{$Advert.id}"/> &nbsp; 
                      <label style="font-weight: normal;" for="{$Advert.id}">{$Advert.id}</label>
                  </td> 
            <td>{$Advert.name}</td>
             <td><if condition="($Advert.type eq 1) "> 启动广告<else /> 资讯广告</if></td>
            <td>{$Advert.created_at|date="Y-m-d",###}</td>
            <td>{$Advert.sort}</td>
            <td class="opts">
              <a href="{:U('Advert/update',array('id'=>$Advert['id']))}">修改</a> &nbsp;|&nbsp;
              
                <a onclick="change_line(this,{$Advert.id},1)"href="#">上线</a> &nbsp;|&nbsp;
              <!-- <a href="{:U('Brand/delete',array('id'=>$brand['id']))}"class="fa fa-trash"></a> | -->
              <a href="javascript:;" id="del_{$Advert.id}" >删除</a>
            </td>
          </tr>
          </volist>
        </tbody>
          <tbody>
                <tr>
                  <td>
                    <label for="check_all">全选/取消</label> &nbsp;|&nbsp;
                    <a href="javascript:;" onclick="online_on_all('ids[]')" >上线</a>
                    &nbsp;|&nbsp;
                    <a href="javascript:;" onclick="recycle_on_all('ids[]')" >删除</a>
                  </td>
                  <td>                  
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
      </table>
    </case>
     <case value="delete">
             <table class="table table-striped">
        <thead>
          <tr>
                <th>
                    <input type="checkbox" name="check_all" id="check_all" onclick="selectall('ids[]');" />&nbsp;<label for="check_all">全选 | 序列号
                </th>
            <th>广告名称</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <volist name="records" id="Advert">
          <tr id="row_{$Advert.id}">
                  <td>
                      <input type="checkbox" id="{$Advert.id}" name="ids[]" value="{$Advert.id}"/> &nbsp; 
                      <label style="font-weight: normal;" for="{$Advert.id}">{$Advert.id}</label>
                  </td>  
            <td>{$Advert.name}</td>
            <td class="opts">
              <a onclick="reduction({$Advert.id})" href="#">还原</a> &nbsp;|&nbsp;
              <!-- <a href="{:U('Brand/delete',array('id'=>$brand['id']))}"class="fa fa-trash"></a> | -->
              <a href="javascript:;" onclick="realdel({$Advert.id})"  >删除</a>
            </td>
          </tr>
          </volist>
        </tbody>
                     <tbody>
                <tr>
                  <td>
                    <label for="check_all">全选/取消</label> &nbsp;|&nbsp;
                    <a href="javascript:;" onclick="recycle_off_all('ids[]')" >还原</a>
                    &nbsp;|&nbsp;
                    <a href="javascript:;" onclick="realdel_all('ids[]')" >删除</a>
                  </td>
                  <td>
                    
                  </td>
                  <td></td>
                </tr>
              </tbody>
      </table>
     </case>
  </switch>
      
      <div class="pagination">
        {$page}
      </div>
      
    </div>
  </div>
</div>

<include file="Public/_footer"/>