  <include file="Public/_header"/>

<div id="body-wrapper">
<include file="Public/sidebar"/>
<div id="main-content">
    <noscript>
    <div class="notification error png_bg">
      <div>您的浏览器禁止使用或者不支持Javascript，请开启Javascript支持或者升级为更新的版本。</div>
    </div>
    </noscript>
    
    <!-- End .shortcut-buttons-set -->
    
    <div class="clear"></div>
    
    <!-- here goes the main body view -->
        <div class="content-box">
      <div class="content-box-header">
        <h3>增加新设备</h3>
        <ul class="content-box-tabs">
        </ul>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <form name="form" action="/user/new_device" method="post">
          <div style="margin:0;padding:0;display:inline">
      <input name="key" type="hidden" value="b43a8644320c5a26cb9099515a43b381" />
      </div>
            <fieldset>
            <p>
              <label>设备来源</label>
              <select name="device_manufacturer" id="device_manufacturer" class="small-input">
                <option value="0">Yeelink产品</option>
                <option value="1" selected="selected">自备设备</option>
              </select>
            </p>
            
            <span id="control-group" class="yeelink" style="display:none;">
            <p>
              <label>设备信息</label>
              <small>设备ID码 (见设备标签)</small><br />
              <input class="text-input small-input" type="text" id="product_uuid" name="product_uuid" value="" />
              <br />
              <small>设备密钥 (请从随机卡片上找到)</small><br />
              <input class="text-input medium-input" type="text" id="product_key" name="product_key" value="" />
                                <span class="input-notification png_bg"></span>
                              </p>
            </span>
            
            <p>
              <label>设备名</label>
              <small>给你的设备起个容易记住的名字，不超过30个字符</small><br />
              <input class="text-input small-input" type="text" id="device_title" name="title" value="" />
              <span class="input-notification png_bg"></span>
            </p>
            
            <span id="control-group" class="diy">
            <p>
              <label>标签 TAGS</label>
              <small>各关键词间用逗号(,)分隔</small><br />
              <input class="text-input medium-input datepicker" type="text" id="device_tags" name="tags" />
              <span class="input-notification png_bg"></span>
            </p>
            </span>
            
            <p>
              <label>描述</label>
              <small>不超过30个字符</small><br />
              <textarea class="text-input textarea" id="device_about" name="about" cols="79" rows="4"></textarea>
              <span class="input-notification png_bg"></span>
            </p>
            
            <span id="control-group" class="diy">
            <p>
              <label>地理位置名称</label>
              <small>例如: 北京</small><br />
              <input class="text-input small-input datepicker" type="text" id="device_loc_name" name="device_loc_name" />
              <span class="input-notification png_bg"></span>
            </p>
            
              <p></p>
              <label>地理位置数据</label>
              <small>点击地图放置一个标记以表示设备所在的位置，坐标会被自动记录。</small><br />
              <div id="locmap" class="locmap">地图加载中...</div>经度 <input class="text-input small-input datepicker" type="text" id="device_lng" name="device_lng" readonly="readonly" /> , 纬度 <input class="text-input small-input datepicker" type="text" id="device_lat" name="device_lat" readonly="readonly" /><span class="input-notification png_bg"></span>
              <p></p>

            <p>
              <label>放置场地</label>
              <input type="radio" id="device_exposure" name="device_exposure" value="0" checked="checked" /> 室内 &nbsp;&nbsp; <input type="radio" id="device_exposure" name="device_exposure" value="1" /> 室外 <span class="input-notification success png_bg"></span>
            </p>
            
            <p>
              <label>分享设置</label>
              <small>对于自备设备硬件, 默认接入时是公开的. </small><br />
              <input type="radio" id="device_privacy" name="device_privacy" checked="checked" disabled="disabled" value="1" /> 公开 &nbsp;&nbsp; <input type="radio" id="device_privacy" name="device_privacy" disabled="disabled" value="0"/> 不公开 <br /><br />
            </p>
            </span>

            <p>
              <input class="button cancelbutton" type="reset" value="X 取消" />
              <input class="button" type="submit" value="√ 保存" />
              
            </p>
            </fieldset>
            <div class="clear"></div>
          </form>
        </div>
              </div>
    </div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Z6CTuyZ8u7xn0rr8f7rMkGwu"></script>
<script type="text/javascript" src="__ROOT__/Public/js/user_new_devices.js"></script>
    
    <div class="clear"></div>
    
    <div id="footer"> <small>
      <!-- Remove this notice or replace it with whatever you want -->
     &#169;Copyright 2015 嘉兴礼海电气有限公司</small> </div>
    <!-- End #footer -->
    
  </div>
  </div>
</body>
<include file="Public/_footer"/>
</html>