  <include file="Public/_header"/>
<script type="text/javascript">
  var url="__CONTROLLER__";
</script>
  <div id="body-wrapper">
    <include file="Public/sidebar"/>
  <div id="main-content">
    <noscript>
    <div class="notification error png_bg">
      <div>您的浏览器禁止使用或者不支持Javascript，请开启Javascript支持或者升级为更新的版本。</div>
    </div>
    </noscript>
    

  
    <!-- End .shortcut-buttons-set -->
    
    <div class="clear"></div>
    
    <!-- here goes the main body view -->
        <div class="content-box">
      <div class="content-box-header">
        <h3>修改密码</h3>
        <ul class="content-box-tabs">
        </ul>
        <div class="clear"></div>
      </div>
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <form action="ss" name="form" method="post">
            <fieldset>
            <p>
              <label>原密码</label>
              <input class="text-input small-input" type="password" id="password" name="password" size="30" />
                    <span class="input-notification png_bg"></span>
                          </p>
            <p>
              <label>新密码</label>
              <input class="text-input small-input" type="password" id="password1" name="password1" size="30"/>
              <span class="input-notification png_bg"></span>
              <label>请再次输入新密码</label>
              <input class="text-input small-input" type="password" id="password2" name="password2" size="30"/>
              <span class="input-notification png_bg"></span>
            </p>
            
            <p>
              <input class="button" type="submit" value="  保存  " />
            </p>
            </fieldset>
            <div class="clear"></div>
          </form>
        </div>
            </div>
    </div>
<script language="javascript" src="__ROOT__/Public/js/change_password.js"></script>    
    <div class="clear"></div>
    
    <div id="footer"> 
      <!-- Remove this notice or replace it with whatever you want -->
     &#169;Copyright 2015 嘉兴礼海电气有限公司 </div>
    <!-- End #footer -->
    
  </div>
</div>
</body>
<include file="Public/_footer"/>
</html>